<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">添加一个警告</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
			警告是通过配置仪表盘中的图表面板的 <strong>警告标签</strong> 来实现, 能够让您通过已存在的查询来创建并设定一个警告.
			<br> <br>
      要保留警报规则更改，请记住保存仪表板.
			<br>
			<br>
		</p>
	</div>

</div>

